doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/font.css')
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/common.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(type='text/javascript', src='/javascripts/script.js')
